.everthing {
  width: 100%;
  height: 100vh;
  background-color: rgb(97, 88, 88);
  display: flex;
  align-items: center;
  justify-content: center;
}

.calculator {
  background-color: rgb(22, 80, 107);
  padding: 20px;
  border-radius: 10px;
}

.all-input {
  border: 0;
  outline: 0;
  border-color: aqua;
  background-color: transparent;
  width: 60px;
  height: 60px;
  border-radius: 10px;
  box-shadow: 1px 1px 10px rgba(255, 255, 225, 0.1);
  font-size: 20px;
  color: white;
  cursor: pointer;
  margin: 10px;
}

.display {
  display: flex;
  justify-content: flex-end;
  margin: 20px 0;
  font-size: 40px;
  font-family: Arial;
  color: white;
  text-align: right;
  height: 50px;
  flex: 1;
  font-size: 50px;
  box-shadow: none;
}

.equal {
  width: 145px;
}

.all-input:active {
  opacity: 0.4;
}

.special-symbol {
  color: rgb(165, 163, 16);
}